/* font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Merriweather", serif;
}
.container {
  width: 1320px;
  margin: 0 auto;
}
.banner {
}
.banner_text {
  background-image: linear-gradient(rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0.281)),
    url(../images/Banner\ Image.png);
  padding: 177px 344px;
}
.banner_text > h4 {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}
.banner_text > h2 {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
}
